apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
      evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['prometheus:8085']

      - job_name: 'grafana'
        static_configs:
          - targets: ['grafana:3000']

      - job_name: 'cargo-tracker'
        static_configs:
          - targets: ['cargo-tracker-service:80']